{% extends "layout.html" %}

{% block header %}
<div class="nav-bar">
    <div class="nav-group">
        <a href="#" class="nav-element hover material-icons">home</a>
    </div>
    <div class="nav-group fill-space">
        <span class="nav-element bold">Login</span>
    </div>
    <div class="nav-group">
        <span class="nav-element"></span>
    </div>
</div>
{% endblock %}

{% block content %}
<main style="width: 100%; max-width: 300pt; margin: auto;">
    {% with form=login_form %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.email }} {{ form.email.label }}
        {{ form.password }} {{ form.password.label }}
        <div class="nav-bar">
            <div class="nav-group">
                {{ form.submit(class="nav-element") }}
            </div>
            <div class="nav-group fill-space"></div>
            <div class="nav-group">
                <a class="nav-element hover">Sign up</a>
            </div>
        </div>
    </form>
    {% endwith %}
</main>
{% endblock %}