{% extends "layout.html" %}

{% block header %}
<div class="nav-bar">
    <div class="nav-group">
        <a href="#" class="nav-element hover material-icons">menu</a>
    </div>
    <div class="nav-group fill-space" id="month">
        {% include "month.html" %}
    </div>
    <div class="nav-group">
        <a href="{{ url_for('new') }}" class="nav-element hover material-icons">add</a>
    </div>
</div>
{% endblock %}

{% block content %}
<main class="habit-grid" id="habit-grid">
    {% for habit in current_user.habits %}
        {{ habit.render(month)|safe }}
    {% endfor %}
</main>
<script src="{{ url_for('static', filename='js/socket.io.min.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/events.js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

