:root {
    --black: #000000;
    --red: #F94144;
    --tangerine: #F3722C;
    --orange: #F8961E;
    --peach: #F9844A;
    --yellow: #F9C74F;
    --green: #90BE6D;
    --cyan: #43AA8B;
    --teal: #4D908E;
    --indigo: #577590;
    --blue: #277DA1;
}

.habit-grid {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(min(100%, 250pt), 1fr) );
    gap: 15pt;
    padding: 1vw;
}

.habit-container {
    height: 0pt;
    padding-top: min(100%, 80vh);
    position: relative;
}

.habit {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.calendar {
    display: flex;
    flex-direction: column;
    flex-basis: 30pt;
    box-sizing: border-box;
    width: 100%;
    flex-grow: 1;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.calendar :is(.week, .days) {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar .days {
    flex-grow: 1;
}

.calendar .week .day {
    padding: 5pt;
    text-align: center;
    color: rgba(0, 0, 0, 0.2);
}

.calendar .days .day {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5pt;
    position: relative;
    background-attachment: fixed;
    background-repeat: repeat;
    transition: background-color 0.5s ease-in-out,
                           color 0.5s ease-in-out;
}


.calendar .today {
    border: 2pt solid black;
}

.calendar .future {
    opacity: 0.3;
}

.calendar .predicted {
    background: repeating-linear-gradient(
      30deg,
      rgba(0,0,0,0.2),
      rgba(0,0,0,0.1) 80px,
      rgba(0,0,0,0.1) 80px,
      rgba(0,0,0,0.2) 160px
    );
    background-attachment: fixed;
    background-repeat: repeat;
}

.calendar input {
    display: none;
}

.calendar input:checked + .day.today {
    border: 2pt solid white;
}

.calendar input:checked + .day {
    background-color: var(--black);
    background: repeating-linear-gradient(
      30deg,
      rgba(234, 0, 255, 0.2),
      rgba(0,0,0,0.0) 200pt,
      rgba(0,0,0,0.0) 200pt,
      rgba(234, 0, 255, 0.2) 400pt
    );
    background-attachment: fixed;
    background-repeat: repeat;
    color: white;
}

.black .calendar input:checked + .day {
    background-color: var(--black);
}

.red .calendar input:checked + .day {
    background-color: var(--red);
}

.tangerine .calendar input:checked + .day {
    background-color: var(--tangerine);
}

.orange .calendar input:checked + .day {
    background-color: var(--orange);
}

.peach .calendar input:checked + .day {
    background-color: var(--peach);
}

.yellow .calendar input:checked + .day {
    background-color: var(--yellow);
}

.green .calendar input:checked + .day {
    background-color: var(--green);
}

.cyan .calendar input:checked + .day {
    background-color: var(--cyan);
}

.teal .calendar input:checked + .day {
    background-color: var(--teal);
}

.indigo .calendar input:checked + .day {
    background-color: var(--indigo);
}

.blue .calendar input:checked + .day {
    background-color: var(--blue);
}